#fileTableTableView .table-column {
    -fx-alignment: CENTER;
}

#masterImgTable .table-column {
    -fx-alignment: CENTER;
}

#skuImgTable .table-column {
    -fx-alignment: CENTER;
}

#detailImgTable .table-column {
    -fx-alignment: CENTER;
}